/*

!/.zshrc
!/README.md
!/brew-apps.txt
!/.gitconfig
!/.gitignore

!/.config/
/.config/*

!/.config/alacritty/
/.config/alacritty/*
!/.config/alacritty/alacritty.toml
!/.config/alacritty/catppuccin-mocha.toml

!/.config/bat/
/.config/bat/*
!/.config/bat/config

!/.config/fd/
/.config/fd/*
!/.config/fd/ignore

!/.config/ripgrep/
/.config/ripgrep/*
!/.config/ripgrep/ripgreprc

!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf

!/.config/nvim/

/.tmuxifier/*
 
 !/.config/kitty/
 /.config/kitty/*
 !/.config/kitty/kitty.conf
